@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

//varibales

$navfont : 'Bebas Neue', cursive;


.nav,.main-body,.footer{
    border: 1px solid #000;
}

.nav{
    height: 8vh;
    width: 100%;
    display: flex;
    .logo{
        display: grid;
        width:125px;
        height: 40px;
        overflow: hidden;
        margin: 5% auto auto 7%;
        font-family: $navfont;
        &-head{
            font-size: 1.2rem;
        }
        &-tail{
            font-size: 0.7rem;
            margin-top: -10%;
        }
    }
    &-items{
        height: 100%;
        width: 50%;
        display: inline-flex;
        right: 0;
        .nav-community{
            margin: 12% auto auto 5%;
            &-icon{
                height: 1.7em;
                width: 1.7em;
            }

        }    
        .nav-news{
            margin: 13% auto auto 5%;
            &-icon{
                height: 1.7em;
                width: 1.7em;
            }
        }

        .nav-menu{
            height: 20px;
            width:30px;
            margin: 13% auto auto 5%;

        }

    }
    @media screen  and (min-width: 768px){
        height: 15vh;
        .logo{
            width: 175px;
            height: 60px;
            margin: 3% auto auto 5%;
            &-head{
                font-size: 2rem;
            }
            &-tail{
                font-size: 1rem;
            }
        }
        &-items{
            
                height: 100%;
                width: 30%;
                display: inline-flex;
                right: 0;
            .nav-community{
                margin: 12% auto auto 5%;
                &-icon{
                    height:2.5em;
                    width: 2.5em;
                }

            }    
            .nav-news{
                margin: 12% auto auto 5%;
                &-icon{
                    height: 2.5em;
                    width: 2.5em;
                }
            }

            .nav-menu{
                height: 30px;
                width:30px;
                margin: 13% auto auto 5%;

            }
            
        }   
    }

}

.main-body{
    height: 60vh;
    width: 100%;
    @media screen  and (min-width: 768px){
        height: 75vh;
    }
}

.footer{
    height: 5vh;
    width: 100%;
    @media screen  and (min-width: 768px){
        height: 10vh;
    }
}