{% load static %}
<!-- Loading animation -->
    <div class="preloader">
      <div class="preloader-animation">
        <div class="preloader-spinner">
        </div>
      </div>
    </div>
    <!-- /Loading animation -->

<div id="page" class="page">
      <!-- Header -->
      <header id="site_header" class="header mobile-menu-hide">
        <div class="header-content">
          <div class="site-title-block mobile-hidden">
            <div class="site-title">Mavic<span>Air 2</span></div>
          </div>

          <!-- Navigation -->
          <div class="site-nav">
            <!-- Main menu -->
            <ul id="nav" class="site-main-menu">
              <li>
                <a class="pt-trigger" href="#home" data-animation="62">Home</a><!-- href value = data-id without # of .pt-page. -->
              </li>
              <li>
                <a class="pt-trigger" href="#resume" data-animation="62">Resume</a>
              </li>
              <li>
                <a class="pt-trigger" href="#services" data-animation="62">Services</a>
              </li>
              <li>
                <a class="pt-trigger" href="#portfolio" data-animation="62">Portfolio</a>
              </li>
              <li>
                <a class="pt-trigger" href="#blog" data-animation="62">Blog</a>
              </li>
            </ul>
            <!-- /Main menu -->
          </div>
          <!-- Navigation -->
        </div>
      </header>
      <!-- /Header -->


