{% load static %}
<nav class="nav">
    <logo class="logo">
        <div class="logo-head">
            FromAbove
        </div>

        <div class="logo-tail">
            Discover the skies
        </div>
    </logo>
    <div class="nav-items">
        <div class="nav-community">
            <img alt="communityicon" class="nav-community-icon" src="{% static 'icons/communityicon.png' %}">
        </div>
        <div class="nav-news">
            <img alt="newspapericon" class="nav-news-icon" src="{% static 'icons/newspapericon.png' %}">
        </div>

            {% for category in categories %}
                <div class="nav-news">
                Category:
                    {{ category.category_name }}

                </div>
            {% endfor %}


        <div class="nav-menu">
            <hr>
            <hr>
        </div>
    </div>

</nav>